process.executor = 'slurm'

MAIN = "$HOME/CSP/test/CNV/"
REF = "$HOME/CSP/additional_files/hg19/"

params.picard = "$HOME/software/picard/picard.jar"
params.bams = "$MAIN/BAM_case/"
params.realign = false
params.reference = "$REF/references/hg19_v0_Homo_sapiens_assembly19.fasta"
params.dictionary = "$REF/references/hg19_v0_Homo_sapiens_assembly19.dict"
params.intervals = "$MAIN/cohort/filtered_intervals.intervals"
params.cohort_ploidy_model = "$MAIN/cohort/ploidy_cohort/cohort-model"
params.cohort_cnv_caller_model = "$MAIN/cohort/cnv_caller_cohort/cohort-model"
params.output_dir = "$MAIN/case"

container = "$HOME/CSP/additional_files/gatk_4.1.3.0/"

process {
    withName:CollectReadCounts {
        container = "$container"
    }
    withName:DetermineGermlineContigPloidy {
        container = "$container"
    }
    withName:GermlineCNVCaller {
        container = "$container"
    }
    withName:PostprocessGermlineCNVCalls {
        container = "$container"
    }
}
singularity {
    enabled = true
	runOptions = "--home $HOME"
}