CSP = "$HOME/CSP"
REF = "$CSP/additional_files/reference"

params.bams = "$CSP/BWH/REPORT/CNV/CNV_new_pipeline/BAM_chr1to22XY/cohort"
params.realign = false
params.reference = "$REF/hg19_v0_Homo_sapiens_assembly19.fasta"
params.dictionary = "$REF/hg19_v0_Homo_sapiens_assembly19.dict"
params.intervals = "$CSP/BWH/CNV/GENCODE_BWH_exon_appris_padd.bed"
params.mappability_track = "$CSP/additional_files/k100.umap.prepared.bed"
params.segmental_dup_track = "$CSP/additional_files/GRCh37GenomicSuperDup.bed"
params.lcr_intervals = "$CSP/additional_files/LCR-hs37d5.prepared.bed"
params.par_intervals = "$CSP/additional_files/GRCh37Pseudoautossomal_regions.bed"
params.contig_ploidy = "$CSP/additional_files/hg19_contig_ploidy_priors.tsv"
params.scale = "exome"
params.output_dir = "$CSP/BWH/CNV/cohort_padd2"

container = "$HOME/CSP/additional_files/gatk_4.1.3.0/"

process {
    withName:PreprocessIntervals {
        container = "$container"
    }
    withName:CollectReadCounts {
        container = "$container"
    }
    withName:AnnotateIntervals {
        container = "$container"
    }
    withName:FilterIntervals {
        container = "$container"
    }
    withName:DetermineGermlineContigPloidy {
        container = "$container"
    }
    withName:GermlineCNVCaller {
        container = "$container"
    }
    withName:PostprocessGermlineCNVCalls {
        container = "$container"
    }
}
singularity {
    enabled = true
	runOptions = "--home $HOME"
}